<div class='o-grid__col'>

  <a href='{{ post.url | prepend: site.baseurl }}' class='c-post-card {% if forloop.first == true %} c-post-card--first {% endif %} {% if forloop.last == true %} c-post-card--last {% endif %}'>
    <h5 class='c-post-card__title'>{{ post.title }}</h5>

    <span class='c-post-card__date'>{{ post.date | date: '%d %b %Y' }}</span>
  </a>

</div>